extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
      .col-sm-4
        .panel
          .panel-body
            h3 Test Light
            p Press the button to set the light to a random hue.
            form
              .form-group
                label(for='lights') Select Light
                select.form-control(id='lights', name='lights')
                  option Loading...

              .form.group
                a.btn.btn-default(href='#',id='test-light', role='button') Test

          .panel-body
            h3 Gradient Demo
            p Press the button to run a demo of the gradient function.
            form
                a.btn.btn-default(href='#',id='test-gradient', role='button') Test

      .col-sm-4
        .panel
          .panel-body
            h3 Set Colour
            p Use this form to set the light to a specific colour.
            form
              .form-group
                label(for='lights-set') Select Light
                select.form-control(id='lights-set', name='lights-set')
                  option Loading...
              .form-group
                label(for='colour-set') Colour
                input.form-control(id='colour-set', name='colour-set', type='color', value='#FF0000')
              .form.group
                a.btn.btn-default(href='#',id='set-light', role='button') Set
      .col-sm-4
        .panel
          .panel-body
            h3 Colour Gradient
            p Set a colour along a gradient.
            form
              .form-group
                label(for='lights-gradient') Select Light
                select.form-control(id='lights-gradient', name='lights-gradient')
                  option Loading...
              .form-group
                label(for='colour-one') Colour One
                input.form-control(id='colour-one', name='colour-one', type='color', value='#FF0000')
              .form-group
                label(for='colour-two') Colour Two
                input.form-control(id='colour-two', name='colour-two', type='color', value='#FFFF00')
              .form-group
                label(for='colour-two') Value (between 0 and 100)
                input.form-control(id='value', name='value', type='number', value='1')

              .form.group
                a.btn.btn-default(href='#',id='set-gradient', role='button') Set
